/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'DejaVuSans';
  src: url("../lib/fonts/DejaVuSans/DejaVuSans.ttf") format("truetype");
  src: url("../lib/fonts/DejaVuSans/DejaVuSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DejaVuBold';
  src: url("../lib/fonts/DejaVuBold/DejaVuSansBold.ttf") format("truetype");
  src: url("../lib/fonts/DejaVuBold/DejaVuSansBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Condensed';
  src: url("../lib/fonts/DejaVuSansCondencsed/DejaVuSansCondensed.ttf") format("truetype");
  src: url("../lib/fonts/DejaVuSansCondencsed/DejaVuSansCondensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CondensedBold';
  src: url("../lib/fonts/DejaVuSansCondensedBold/DejaVuSansCondensedBold.ttf") format("truetype");
  src: url("../lib/fonts/DejaVuSansCondensedBold/DejaVuSansCondensedBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 82, ../lib/sass/main.scss */
body, a, a:hover {
  color: #333;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

/* line 88, ../lib/sass/main.scss */
body {
  font-family: 'DejaVuSans', sans-serif;
}

/* line 92, ../lib/sass/main.scss */
h1 {
  text-transform: uppercase;
}

/* line 97, ../lib/sass/main.scss */
header.navbar-fixed-top {
  z-index: 50;
}
/* line 100, ../lib/sass/main.scss */
header .navbar {
  margin: 0;
}
/* line 102, ../lib/sass/main.scss */
header .navbar.navbar-default {
  background-color: #fff;
  border: none;
  border-radius: 0;
}
/* line 107, ../lib/sass/main.scss */
header .navbar .container-fluid {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
/* line 112, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header {
  width: 100%;
  padding: 0 60px;
}
/* line 116, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .navbar-brand > img {
  width: 105px;
}
/* line 120, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav {
  float: right;
}
/* line 122, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav li {
  text-transform: uppercase;
  font-family: 'CondensedBold', sans-serif;
  cursor: pointer;
}
/* line 126, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav li a {
  color: #333;
  font-weight: 900;
  font-size: 13px;
}
/* line 130, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav li a:hover {
  color: #999;
}
/* line 136, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav li.active a {
  color: #999;
}
/* line 141, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav .active > a {
  background: none;
}
/* line 145, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav-menu {
  float: right;
}
/* line 147, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav-menu li {
  float: left;
}
/* line 151, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav-menu li {
  border-right: 1px solid #eee;
}
/* line 154, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav-menu li a {
  display: inline-block;
  padding: 13px 20px;
}
/* line 158, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav-menu li a img {
  width: 25px;
}
/* line 162, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav-menu li:last-child {
  background: #333;
  border: none;
  color: #fff;
  text-align: center;
  width: 66px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 50px;
}
/* line 179, ../lib/sass/main.scss */
header .tab-content {
  position: relative;
}
/* line 181, ../lib/sass/main.scss */
header .tab-content .drop-menu {
  position: absolute;
  z-index: 53;
  text-align: center;
  width: 100%;
  background: #eee;
}
/* line 187, ../lib/sass/main.scss */
header .tab-content .drop-menu li {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  width: 146px;
  height: 160px;
  padding: 30px;
}
/* line 193, ../lib/sass/main.scss */
header .tab-content .drop-menu li:hover {
  background: #333;
}
/* line 195, ../lib/sass/main.scss */
header .tab-content .drop-menu li:hover a {
  color: #eee;
}
/* line 197, ../lib/sass/main.scss */
header .tab-content .drop-menu li:hover a img {
  -webkit-filter: brightness(465%);
  /* Chrome, Safari, Opera */
  filter: brightness(465%);
}
/* line 203, ../lib/sass/main.scss */
header .tab-content .drop-menu li a {
  width: 100%;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 208, ../lib/sass/main.scss */
header .tab-content .drop-menu li a img {
  width: 50px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 213, ../lib/sass/main.scss */
header .tab-content .drop-menu li a span {
  font-size: 12px;
  display: block;
  margin-top: 10px;
}
/* line 220, ../lib/sass/main.scss */
header .tab-content .drop-menu:before {
  content: '';
  position: absolute;
  top: -12px;
  z-index: 51;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid #eee;
}
/* line 232, ../lib/sass/main.scss */
header .tab-content #menu1.drop-menu:before {
  left: 885px;
}
/* line 235, ../lib/sass/main.scss */
header .tab-content #menu2.drop-menu:before {
  right: 815px;
}
/* line 238, ../lib/sass/main.scss */
header .tab-content #menu3.drop-menu:before {
  right: 685px;
}
/* line 244, ../lib/sass/main.scss */
header .log-sub {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}
/* line 248, ../lib/sass/main.scss */
header .log-sub .login {
  right: 15px;
  text-align: center;
  width: 300px;
  padding: 30px 0;
  position: absolute;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 257, ../lib/sass/main.scss */
header .log-sub .login:before, header .log-sub .login:after {
  right: 140px;
}
/* line 261, ../lib/sass/main.scss */
header .log-sub .login h1 {
  font-size: 36px;
  font-family: 'Condensed', sans-serif;
}
/* line 266, ../lib/sass/main.scss */
header .log-sub .login input {
  width: 270px;
  padding: 10px 15px;
  display: block;
  margin: 10px auto;
  border: 1px solid #eee;
  outline: none;
  color: #999;
}
/* line 274, ../lib/sass/main.scss */
header .log-sub .login input:focus {
  border: 1px solid #999;
}
/* line 278, ../lib/sass/main.scss */
header .log-sub .login input[type='submit'] {
  width: 154px;
  margin: 10px auto;
  background: #333;
  color: #fff;
  border-radius: 50px;
  font-family: 'Condensed', sans-serif;
}
/* line 287, ../lib/sass/main.scss */
header .log-sub .login a {
  font-family: 'DejaVuBold', sans-serif;
  font-size: 14px;
  margin: 10px 0;
  font-weight: 700;
}
/* line 295, ../lib/sass/main.scss */
header .log-sub .login,
header .log-sub .subtotal {
  border: 1px solid #eee;
  display: none;
  background: #fff;
}
/* line 300, ../lib/sass/main.scss */
header .log-sub .login:before, header .log-sub .login:after,
header .log-sub .subtotal:before,
header .log-sub .subtotal:after {
  content: '';
  position: absolute;
  z-index: 51;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
/* line 309, ../lib/sass/main.scss */
header .log-sub .login:before,
header .log-sub .subtotal:before {
  top: -13px;
  border-bottom: 12px solid #eee;
}
/* line 313, ../lib/sass/main.scss */
header .log-sub .login:after,
header .log-sub .subtotal:after {
  top: -12px;
  border-bottom: 12px solid #fff;
}
/* line 318, ../lib/sass/main.scss */
header .log-sub .subtotal {
  position: absolute;
  right: 0;
}
/* line 321, ../lib/sass/main.scss */
header .log-sub .subtotal:before, header .log-sub .subtotal:after {
  right: 90px;
}
/* line 324, ../lib/sass/main.scss */
header .log-sub .subtotal ul {
  width: 300px;
}
/* line 326, ../lib/sass/main.scss */
header .log-sub .subtotal ul li {
  position: relative;
  padding: 20px 20px 0 20px;
}
/* line 329, ../lib/sass/main.scss */
header .log-sub .subtotal ul li:after {
  border-bottom: 1px solid #eee;
  width: 260px;
  padding: 10px 0;
}
/* line 335, ../lib/sass/main.scss */
header .log-sub .subtotal ul li div {
  float: left;
}
/* line 337, ../lib/sass/main.scss */
header .log-sub .subtotal ul li div p {
  font-size: 13px;
  color: #666;
}
/* line 343, ../lib/sass/main.scss */
header .log-sub .subtotal ul li div:last-child {
  float: right;
}
/* line 345, ../lib/sass/main.scss */
header .log-sub .subtotal ul li div:last-child p {
  position: absolute;
  bottom: 22px;
  right: 22px;
  font-family: 'DejaVuBold', sans-serif;
  font-weight: 600;
}
/* line 352, ../lib/sass/main.scss */
header .log-sub .subtotal ul li div:last-child .close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 14px;
  height: 14px;
  opacity: 0;
  transition: 0s;
}
/* line 361, ../lib/sass/main.scss */
header .log-sub .subtotal ul li div:last-child .close:before, header .log-sub .subtotal ul li div:last-child .close:after {
  position: absolute;
  right: 10px;
  content: ' ';
  height: 14px;
  width: 2px;
  background-color: #999;
}
/* line 369, ../lib/sass/main.scss */
header .log-sub .subtotal ul li div:last-child .close:before {
  transform: rotate(45deg);
}
/* line 372, ../lib/sass/main.scss */
header .log-sub .subtotal ul li div:last-child .close:after {
  transform: rotate(-45deg);
}
/* line 376, ../lib/sass/main.scss */
header .log-sub .subtotal ul li div h4 {
  font-family: 'CondensedBold', sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
}
/* line 380, ../lib/sass/main.scss */
header .log-sub .subtotal ul li div h4 + p {
  margin-bottom: 13px;
}
/* line 383, ../lib/sass/main.scss */
header .log-sub .subtotal ul li div h4 + p + p span {
  font-weight: 600;
}
/* line 390, ../lib/sass/main.scss */
header .log-sub .subtotal ul li .pic {
  margin-right: 10px;
}
/* line 392, ../lib/sass/main.scss */
header .log-sub .subtotal ul li .pic img {
  width: 62px;
  height: 62px;
}
/* line 397, ../lib/sass/main.scss */
header .log-sub .subtotal ul li:hover {
  background: #eee;
}
/* line 401, ../lib/sass/main.scss */
header .log-sub .subtotal ul li:hover div:last-child .close {
  opacity: 1;
}
/* line 410, ../lib/sass/main.scss */
header .log-sub .subtotal .checkout {
  width: 300px;
  padding: 20px;
  background: #eee;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 416, ../lib/sass/main.scss */
header .log-sub .subtotal .checkout span {
  margin-bottom: 20px;
}
/* line 418, ../lib/sass/main.scss */
header .log-sub .subtotal .checkout span:first-child {
  float: left;
  font-family: 'Condensed', sans-serif;
}
/* line 422, ../lib/sass/main.scss */
header .log-sub .subtotal .checkout span:last-of-type {
  float: right;
  font-family: 'CondensedBold', sans-serif;
}
/* line 427, ../lib/sass/main.scss */
header .log-sub .subtotal .checkout a {
  font-family: 'Condensed', sans-serif;
  display: block;
  color: #eee;
  background: #333;
  width: 100%;
  border-radius: 50px;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  float: left;
}

/* line 445, ../lib/sass/main.scss */
main .black-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.81);
}
