@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'DejaVuSans';
  src: url("../lib/fonts/DejaVuSans/DejaVuSans.ttf") format("truetype");
  src: url("../lib/fonts/DejaVuSans/DejaVuSans.woff") format("woff");
  src: url("../lib/fonts/DejaVuSans/DejaVuSans.eot?#iefix") format("embedded-opentype");
  src: url("../lib/fonts/DejaVuSans/DejaVuSans.svg#DejaVuSans") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DejaVuSans-Bold';
  src: url("../lib/fonts/DejaVuSans-Bold/DejaVuSans-Bold.ttf") format("truetype");
  src: url("../lib/fonts/DejaVuSans-Bold/DejaVuSans-Bold.woff") format("woff");
  src: url("../lib/fonts/DejaVuSans-Bold/DejaVuSans-Bold.eot?#iefix") format("embedded-opentype");
  src: url("../lib/fonts/DejaVuSans-Bold/DejaVuSans-Bold.svg#DejaVuSans-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DejaVuSansCondensed';
  src: url("../lib/fonts/DejaVuSansCondensed/DejaVuSansCondensed.ttf") format("truetype");
  src: url("../lib/fonts/DejaVuSansCondensed/DejaVuSansCondensed.woff") format("woff");
  src: url("../lib/fonts/DejaVuSansCondensed/DejaVuSansCondensed.eot?#iefix") format("embedded-opentype");
  src: url("../lib/fonts/DejaVuSansCondensed/DejaVuSansCondensed.svg#DejaVuSansCondensed") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DejaVuSansCondensed-Bold';
  src: url("../lib/fonts/DejaVuSansCondensedBold/DejaVuSansCondensed-Bold.ttf") format("truetype");
  src: url("../lib/fonts/DejaVuSansCondensedBold/DejaVuSansCondensed-Bold.woff") format("woff");
  src: url("../lib/fonts/DejaVuSansCondensedBold/DejaVuSansCondensed-Bold.eot?#iefix") format("embedded-opentype");
  src: url("../lib/fonts/DejaVuSansCondensedBold/DejaVuSansCondensed-Bold.svg#DejaVuSansCondensed-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 99, ../lib/sass/main.scss */
body, a, a:hover, a:focus {
  color: #333;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  outline: none;
}

/* line 106, ../lib/sass/main.scss */
body {
  font-family: "DejaVuSans", sans-serif;
  line-height: normal;
}

/* line 111, ../lib/sass/main.scss */
h1 {
  text-transform: uppercase;
  font-family: "DejaVuSans-Bold", sans-serif;
  font-size: 36px;
  line-height: 40px;
}

/* line 118, ../lib/sass/main.scss */
h1, h2, h4, h5, h6 {
  line-height: normal;
}

/* line 122, ../lib/sass/main.scss */
p {
  color: #666;
  font-size: 14px;
  font-family: "DejaVuSans", sans-serif;
  line-height: 20px;
}

/* line 129, ../lib/sass/main.scss */
a {
  font-size: 14px;
}

/* line 134, ../lib/sass/main.scss */
header.navbar-fixed-top {
  z-index: 50;
}
/* line 137, ../lib/sass/main.scss */
header .navbar {
  margin: 0;
}
/* line 139, ../lib/sass/main.scss */
header .navbar.navbar-default {
  background-color: #fff;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #eee;
}
/* line 145, ../lib/sass/main.scss */
header .navbar .container-fluid {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
/* line 150, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header {
  width: 100%;
  padding: 0 103px;
}
/* line 154, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .navbar-brand > img {
  width: 105px;
}
/* line 158, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav {
  float: right;
}
/* line 160, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav li {
  text-transform: uppercase;
  font-family: "DejaVuSansCondensed-Bold", sans-serif;
  cursor: default;
  font-size: 13px;
  padding: 15px;
  line-height: 20px;
  color: #999;
}
/* line 169, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav li a {
  color: #333;
  font-weight: 900;
  font-size: 13px;
  padding: 0;
}
/* line 174, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav li a:hover {
  color: #999;
}
/* line 180, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav li.active a {
  color: #999;
}
/* line 185, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav .active > a {
  background: none;
}
/* line 189, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav-menu {
  float: right;
}
/* line 191, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav-menu li {
  float: left;
}
/* line 194, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav-menu li {
  border-right: 1px solid #eee;
}
/* line 197, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav-menu li a {
  display: inline-block;
  padding: 13px 20px;
}
/* line 201, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav-menu li a img {
  width: 25px;
}
/* line 207, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav-menu li.search a img:last-child {
  display: none;
}
/* line 212, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav-menu li:last-child {
  background: #333;
  border: none;
  color: #fff;
  text-align: center;
  width: 66px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 50px;
}
/* line 228, ../lib/sass/main.scss */
header .tab-content {
  position: relative;
}
/* line 230, ../lib/sass/main.scss */
header .tab-content .drop-menu {
  font-size: 0;
  position: absolute;
  z-index: 53;
  text-align: center;
  width: 100%;
  background: #eee;
}
/* line 237, ../lib/sass/main.scss */
header .tab-content .drop-menu li {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  width: 146px;
  height: 160px;
  padding: 30px;
}
/* line 243, ../lib/sass/main.scss */
header .tab-content .drop-menu li:hover {
  background: #333;
}
/* line 245, ../lib/sass/main.scss */
header .tab-content .drop-menu li:hover a {
  color: #eee;
}
/* line 247, ../lib/sass/main.scss */
header .tab-content .drop-menu li:hover a img {
  -webkit-filter: brightness(465%);
  /* Chrome, Safari, Opera */
  filter: brightness(465%);
}
/* line 253, ../lib/sass/main.scss */
header .tab-content .drop-menu li a {
  width: 100%;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 258, ../lib/sass/main.scss */
header .tab-content .drop-menu li a img {
  width: 50px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 263, ../lib/sass/main.scss */
header .tab-content .drop-menu li a span {
  font-size: 12px;
  display: block;
  margin-top: 10px;
}
/* line 270, ../lib/sass/main.scss */
header .tab-content .drop-menu:before {
  content: '';
  position: absolute;
  top: -12px;
  z-index: 51;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid #eee;
}
/* line 282, ../lib/sass/main.scss */
header .tab-content #menu1.drop-menu:before {
  left: 885px;
}
/* line 285, ../lib/sass/main.scss */
header .tab-content #menu2.drop-menu:before {
  right: 815px;
}
/* line 288, ../lib/sass/main.scss */
header .tab-content #menu3.drop-menu:before {
  right: 685px;
}
/* line 291, ../lib/sass/main.scss */
header .tab-content .find {
  position: absolute;
  height: 150px;
  width: 100%;
  background: #eee;
  display: none;
}
/* line 297, ../lib/sass/main.scss */
header .tab-content .find div {
  height: 100%;
  position: relative;
}
/* line 300, ../lib/sass/main.scss */
header .tab-content .find div:before {
  content: '';
  position: absolute;
  z-index: 51;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
/* line 309, ../lib/sass/main.scss */
header .tab-content .find div:before {
  top: -12px;
  right: 600px;
  border-bottom: 12px solid #eee;
}
/* line 314, ../lib/sass/main.scss */
header .tab-content .find div form {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 456px;
}
/* line 320, ../lib/sass/main.scss */
header .tab-content .find div form:after {
  content: "";
  border-bottom: 1px solid #999;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 329, ../lib/sass/main.scss */
header .tab-content .find div form img {
  width: 18px;
}
/* line 333, ../lib/sass/main.scss */
header .tab-content .find div form input {
  width: calc(100% - 18px);
  background: #eee;
  border: none;
  color: #999;
  padding: 5px 15px;
}
/* line 339, ../lib/sass/main.scss */
header .tab-content .find div form input:focus {
  outline: none;
}
/* line 349, ../lib/sass/main.scss */
header .log-sub {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}
/* line 354, ../lib/sass/main.scss */
header .log-sub .login {
  right: 15px;
  text-align: center;
  width: 300px;
  padding: 30px 0;
  position: absolute;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 363, ../lib/sass/main.scss */
header .log-sub .login:before, header .log-sub .login:after {
  right: 140px;
}
/* line 367, ../lib/sass/main.scss */
header .log-sub .login h1 {
  font-size: 36px;
  font-family: "DejaVuSansCondensed", sans-serif;
}
/* line 372, ../lib/sass/main.scss */
header .log-sub .login input {
  width: 270px;
  padding: 10px 15px;
  display: block;
  margin: 10px auto;
  border: 1px solid #eee;
  outline: none;
  color: #999;
}
/* line 380, ../lib/sass/main.scss */
header .log-sub .login input:focus {
  border: 1px solid #999;
}
/* line 384, ../lib/sass/main.scss */
header .log-sub .login input[type='submit'] {
  width: 154px;
  margin: 10px auto;
  background: #333;
  color: #fff;
  border-radius: 50px;
  font-family: "DejaVuSansCondensed", sans-serif;
}
/* line 393, ../lib/sass/main.scss */
header .log-sub .login a {
  font-family: "DejaVuSans-Bold", sans-serif;
  font-size: 14px;
  margin: 10px 0;
  font-weight: 700;
}
/* line 401, ../lib/sass/main.scss */
header .log-sub .login,
header .log-sub .subtotal {
  border: 1px solid #eee;
  display: none;
  background: #fff;
}
/* line 406, ../lib/sass/main.scss */
header .log-sub .login:before, header .log-sub .login:after,
header .log-sub .subtotal:before,
header .log-sub .subtotal:after {
  content: '';
  position: absolute;
  z-index: 51;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
/* line 415, ../lib/sass/main.scss */
header .log-sub .login:before,
header .log-sub .subtotal:before {
  top: -13px;
  border-bottom: 12px solid #eee;
}
/* line 419, ../lib/sass/main.scss */
header .log-sub .login:after,
header .log-sub .subtotal:after {
  top: -12px;
  border-bottom: 12px solid #fff;
}
/* line 424, ../lib/sass/main.scss */
header .log-sub .subtotal {
  position: absolute;
  right: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 429, ../lib/sass/main.scss */
header .log-sub .subtotal:before, header .log-sub .subtotal:after {
  right: 90px;
}
/* line 432, ../lib/sass/main.scss */
header .log-sub .subtotal ul {
  overflow: scroll;
  overflow-x: hidden;
  width: 300px;
}
/* line 436, ../lib/sass/main.scss */
header .log-sub .subtotal ul li {
  position: relative;
  padding: 20px 20px 0 20px;
}
/* line 439, ../lib/sass/main.scss */
header .log-sub .subtotal ul li:after {
  border-bottom: 1px solid #eee;
  width: 260px;
  padding: 10px 0;
}
/* line 445, ../lib/sass/main.scss */
header .log-sub .subtotal ul li div {
  float: left;
}
/* line 447, ../lib/sass/main.scss */
header .log-sub .subtotal ul li div p {
  font-size: 13px;
  color: #666;
}
/* line 453, ../lib/sass/main.scss */
header .log-sub .subtotal ul li div:last-child {
  float: right;
}
/* line 455, ../lib/sass/main.scss */
header .log-sub .subtotal ul li div:last-child p {
  position: absolute;
  bottom: 22px;
  right: 22px;
  font-family: "DejaVuSans-Bold", sans-serif;
  font-weight: 600;
}
/* line 462, ../lib/sass/main.scss */
header .log-sub .subtotal ul li div:last-child .close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 14px;
  height: 14px;
  opacity: 0;
  transition: 0s;
}
/* line 471, ../lib/sass/main.scss */
header .log-sub .subtotal ul li div:last-child .close:before, header .log-sub .subtotal ul li div:last-child .close:after {
  position: absolute;
  right: 10px;
  content: ' ';
  height: 14px;
  width: 2px;
  background-color: #999;
}
/* line 479, ../lib/sass/main.scss */
header .log-sub .subtotal ul li div:last-child .close:before {
  transform: rotate(45deg);
}
/* line 482, ../lib/sass/main.scss */
header .log-sub .subtotal ul li div:last-child .close:after {
  transform: rotate(-45deg);
}
/* line 486, ../lib/sass/main.scss */
header .log-sub .subtotal ul li div h4 {
  font-family: "DejaVuSansCondensed-Bold", sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
}
/* line 492, ../lib/sass/main.scss */
header .log-sub .subtotal ul li div h4 + p + p span {
  font-weight: 600;
}
/* line 499, ../lib/sass/main.scss */
header .log-sub .subtotal ul li .pic {
  margin-right: 10px;
}
/* line 501, ../lib/sass/main.scss */
header .log-sub .subtotal ul li .pic img {
  width: 62px;
  height: 62px;
}
/* line 506, ../lib/sass/main.scss */
header .log-sub .subtotal ul li:hover {
  background: #eee;
}
/* line 510, ../lib/sass/main.scss */
header .log-sub .subtotal ul li:hover div:last-child .close {
  opacity: 1;
}
/* line 518, ../lib/sass/main.scss */
header .log-sub .subtotal .checkout {
  width: 300px;
  padding: 20px;
  background: #eee;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 524, ../lib/sass/main.scss */
header .log-sub .subtotal .checkout span {
  margin-bottom: 20px;
}
/* line 526, ../lib/sass/main.scss */
header .log-sub .subtotal .checkout span:first-child {
  float: left;
  font-family: "DejaVuSansCondensed", sans-serif;
}
/* line 530, ../lib/sass/main.scss */
header .log-sub .subtotal .checkout span:last-of-type {
  float: right;
  font-family: CondensedBold, sans-serif;
}
/* line 535, ../lib/sass/main.scss */
header .log-sub .subtotal .checkout a {
  font-family: "DejaVuSansCondensed", sans-serif;
  display: block;
  color: #eee;
  background: #333;
  width: 100%;
  border-radius: 50px;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  float: left;
}
/* line 548, ../lib/sass/main.scss */
header .log-sub .subtotal .bucket-empty {
  display: none;
  width: 300px;
  text-align: center;
  padding: 30px 25px;
}
/* line 553, ../lib/sass/main.scss */
header .log-sub .subtotal .bucket-empty img {
  width: 120px;
  display: inline-block;
  margin-bottom: 15px;
}
/* line 558, ../lib/sass/main.scss */
header .log-sub .subtotal .bucket-empty h1 {
  font-family: "DejaVuSansCondensed", sans-serif;
  margin-bottom: 15px;
}

/* line 568, ../lib/sass/main.scss */
.home .part2 .instruments,
.home .part3 .clearfix,
.home .part4 .recom,
.home .part5 div {
  max-width: 1366px;
  padding: 0 103px;
  margin: 0 auto;
}

/* line 578, ../lib/sass/main.scss */
.footer {
  max-width: 1366px;
  padding: 0 103px;
  margin: 0 auto;
}

/* line 585, ../lib/sass/main.scss */
.list .part1,
.list .part2 {
  max-width: 1366px;
  padding: 0 103px;
  margin: 0 auto;
}

/* line 594, ../lib/sass/main.scss */
main {
  margin-top: 50px;
  /* Base for label styling */
  /* checkbox aspect */
  /* checked mark aspect */
  /* checked mark aspect changes */
  /* disabled checkbox */
}
/* line 598, ../lib/sass/main.scss */
main.home .black-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.81);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  overflow-y: hidden;
}
/* line 608, ../lib/sass/main.scss */
main.home .part1,
main.home .part2,
main.home .part3,
main.home .part4,
main.home .part5 {
  margin-bottom: 60px;
  position: relative;
}
/* line 616, ../lib/sass/main.scss */
main.home .one-slide .item {
  height: 70vh;
}
/* line 618, ../lib/sass/main.scss */
main.home .one-slide .item .clearfix {
  position: relative;
  max-width: 1366px;
}
/* line 621, ../lib/sass/main.scss */
main.home .one-slide .item .clearfix .shop-now {
  padding: 0 0 0 103px;
  top: 40%;
}
/* line 624, ../lib/sass/main.scss */
main.home .one-slide .item .clearfix .shop-now h1, main.home .one-slide .item .clearfix .shop-now p {
  color: #fff;
  margin-bottom: 20px;
}
/* line 628, ../lib/sass/main.scss */
main.home .one-slide .item .clearfix .shop-now h1 {
  font-family: "DejaVuSansCondensed-Bold", sans-serif;
}
/* line 631, ../lib/sass/main.scss */
main.home .one-slide .item .clearfix .shop-now a {
  display: inline-block;
  background: #fff;
  color: #333;
  padding: 10px 25px;
  border-radius: 50px;
}
/* line 645, ../lib/sass/main.scss */
main.home .part2 .instruments {
  font-size: 0;
}
/* line 647, ../lib/sass/main.scss */
main.home .part2 .instruments a {
  display: inline-block;
}
/* line 650, ../lib/sass/main.scss */
main.home .part2 .instruments div {
  position: relative;
  display: inline-block;
}
/* line 654, ../lib/sass/main.scss */
main.home .part2 .instruments div span {
  text-transform: uppercase;
  position: absolute;
  font-family: "DejaVuSansCondensed-Bold", sans-serif;
  font-size: 24px;
}
/* line 661, ../lib/sass/main.scss */
main.home .part2 .instruments .amplifiers {
  margin-right: 20px;
  width: 40%;
  height: 425px;
}
/* line 665, ../lib/sass/main.scss */
main.home .part2 .instruments .amplifiers a {
  height: 425px;
}
/* line 667, ../lib/sass/main.scss */
main.home .part2 .instruments .amplifiers a img {
  width: 464px;
}
/* line 670, ../lib/sass/main.scss */
main.home .part2 .instruments .amplifiers a span {
  left: 20px;
  top: 20px;
}
/* line 676, ../lib/sass/main.scss */
main.home .part2 .instruments .microphone {
  margin-right: 20px;
  width: 18.2%;
}
/* line 679, ../lib/sass/main.scss */
main.home .part2 .instruments .microphone a {
  height: 425px;
}
/* line 681, ../lib/sass/main.scss */
main.home .part2 .instruments .microphone a span {
  left: 20px;
  bottom: 20px;
}
/* line 685, ../lib/sass/main.scss */
main.home .part2 .instruments .microphone a img {
  width: 211px;
}
/* line 690, ../lib/sass/main.scss */
main.home .part2 .instruments .trumpet {
  width: 38.3%;
}
/* line 692, ../lib/sass/main.scss */
main.home .part2 .instruments .trumpet div {
  display: block;
}
/* line 694, ../lib/sass/main.scss */
main.home .part2 .instruments .trumpet div:first-child {
  margin-bottom: 15px;
}
/* line 696, ../lib/sass/main.scss */
main.home .part2 .instruments .trumpet div:first-child a {
  height: 202.5px;
}
/* line 698, ../lib/sass/main.scss */
main.home .part2 .instruments .trumpet div:first-child a span {
  left: 20px;
  top: 20px;
}
/* line 702, ../lib/sass/main.scss */
main.home .part2 .instruments .trumpet div:first-child a img {
  width: 445px;
}
/* line 708, ../lib/sass/main.scss */
main.home .part2 .instruments .trumpet div:last-child a {
  height: 202.5px;
}
/* line 710, ../lib/sass/main.scss */
main.home .part2 .instruments .trumpet div:last-child a span {
  left: 20px;
  bottom: 20px;
}
/* line 714, ../lib/sass/main.scss */
main.home .part2 .instruments .trumpet div:last-child a img {
  width: 445px;
}
/* line 724, ../lib/sass/main.scss */
main.home .part3 {
  position: relative;
  background: #eee;
  overflow: hidden;
  height: 420px;
}
/* line 729, ../lib/sass/main.scss */
main.home .part3 .clearfix {
  position: relative;
  width: 1366px;
  margin: 0 auto;
  padding: 0 103px;
  height: 100%;
}
/* line 735, ../lib/sass/main.scss */
main.home .part3 .clearfix .col-lg-6:first-child {
  padding-left: 0;
  height: 100%;
}
/* line 738, ../lib/sass/main.scss */
main.home .part3 .clearfix .col-lg-6:first-child div {
  width: 90%;
  position: absolute;
  top: 50%;
  padding-left: 0;
  transform: translateY(-50%);
}
/* line 744, ../lib/sass/main.scss */
main.home .part3 .clearfix .col-lg-6:first-child div h1, main.home .part3 .clearfix .col-lg-6:first-child div p {
  margin-bottom: 20px;
}
/* line 747, ../lib/sass/main.scss */
main.home .part3 .clearfix .col-lg-6:first-child div h1 {
  font-family: "DejaVuSansCondensed-Bold", sans-serif;
}
/* line 750, ../lib/sass/main.scss */
main.home .part3 .clearfix .col-lg-6:first-child div a {
  padding: 10px 25px;
  background: #333;
  color: #eee;
  border-radius: 50px;
  display: inline-block;
}
/* line 760, ../lib/sass/main.scss */
main.home .part3 .clearfix img {
  position: absolute;
  top: -160px;
}
/* line 767, ../lib/sass/main.scss */
main.home .part4 h1 {
  font-family: "DejaVuSansCondensed", sans-serif;
  margin-bottom: 40px;
}
/* line 773, ../lib/sass/main.scss */
main.home .part4 #owl-recom .owl-item .item {
  margin-right: 10px;
  position: relative;
}
/* line 778, ../lib/sass/main.scss */
main.home .part4 #owl-recom .owl-item .item a img {
  display: block;
  width: 100%;
  height: auto;
}
/* line 787, ../lib/sass/main.scss */
main.home .part4 #owl-recom .owl-controls {
  position: absolute;
  top: -70px;
  right: 5px;
  margin: 0;
}
/* line 792, ../lib/sass/main.scss */
main.home .part4 #owl-recom .owl-controls .owl-prev {
  background: url("../img/ico/arrow-l.svg"), no-repeat;
}
/* line 794, ../lib/sass/main.scss */
main.home .part4 #owl-recom .owl-controls .owl-prev:hover {
  opacity: 1;
}
/* line 798, ../lib/sass/main.scss */
main.home .part4 #owl-recom .owl-controls .owl-next {
  background: url("../img/ico/arrow-r.svg"), no-repeat;
}
/* line 800, ../lib/sass/main.scss */
main.home .part4 #owl-recom .owl-controls .owl-next:hover {
  opacity: 1;
}
/* line 804, ../lib/sass/main.scss */
main.home .part4 #owl-recom .owl-controls .owl-next, main.home .part4 #owl-recom .owl-controls .owl-prev {
  width: 34px;
  height: 34px;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 815, ../lib/sass/main.scss */
main.home .part5 {
  background: #eee;
  margin-bottom: 0;
}
/* line 818, ../lib/sass/main.scss */
main.home .part5 div {
  height: 145px;
}
/* line 820, ../lib/sass/main.scss */
main.home .part5 div .logos {
  position: absolute;
  mix-blend-mode: multiply;
  font-size: 0;
}
/* line 824, ../lib/sass/main.scss */
main.home .part5 div .logos li {
  float: left;
  width: 193.3px;
}
/* line 828, ../lib/sass/main.scss */
main.home .part5 div .logos li img {
  width: 100%;
  mix-blend-mode: multiply;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 836, ../lib/sass/main.scss */
main.home .part5 div .logos li:hover img {
  opacity: 1;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
/* line 852, ../lib/sass/main.scss */
main.list .part1 .navigation .instrument {
  background: #eee;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding: 0;
}
/* line 858, ../lib/sass/main.scss */
main.list .part1 .navigation .instrument div {
  background: #fff;
}
/* line 860, ../lib/sass/main.scss */
main.list .part1 .navigation .instrument div h1 {
  display: inline-block;
  font-size: 20px;
  padding: 15px 0;
}
/* line 865, ../lib/sass/main.scss */
main.list .part1 .navigation .instrument div span {
  cursor: pointer;
  margin: 15px;
  display: inline-block;
  float: right;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 875, ../lib/sass/main.scss */
main.list .part1 .navigation .instrument div span img {
  width: 15px;
}
/* line 880, ../lib/sass/main.scss */
main.list .part1 .navigation .instrument ul {
  position: absolute;
  top: 0;
  z-index: -3;
}
/* line 885, ../lib/sass/main.scss */
main.list .part1 .navigation .instrument ul li a {
  text-transform: uppercase;
  padding: 15px;
  display: inline-block;
  line-height: 20px;
}
/* line 890, ../lib/sass/main.scss */
main.list .part1 .navigation .instrument ul li a:hover {
  color: #999;
}
/* line 900, ../lib/sass/main.scss */
main.list .part2 .category {
  padding: 0;
  border-top: 1px solid #eee;
}
/* line 903, ../lib/sass/main.scss */
main.list .part2 .category h3 {
  text-transform: uppercase;
  font-family: "DejaVuSansCondensed-Bold", sans-serif;
  margin-bottom: 15px;
}
/* line 908, ../lib/sass/main.scss */
main.list .part2 .category li {
  margin-bottom: 5px;
  color: #333;
  font-family: "DejaVuSans-Bold", sans-serif;
}
/* line 912, ../lib/sass/main.scss */
main.list .part2 .category li a {
  color: #666;
  font-family: "DejaVuSans";
}
/* line 915, ../lib/sass/main.scss */
main.list .part2 .category li a:hover {
  color: #333;
  font-family: "DejaVuSans-Bold", sans-serif;
}
/* line 920, ../lib/sass/main.scss */
main.list .part2 .category li label {
  font-family: "DejaVuSans";
  font-size: 13px;
}
/* line 925, ../lib/sass/main.scss */
main.list .part2 .category .type-of-instrument,
main.list .part2 .category .instrument-brand,
main.list .part2 .category .price-slider {
  padding: 15px 0;
}
/* line 932, ../lib/sass/main.scss */
main.list .part2 .category .type-of-instrument ul li {
  text-transform: uppercase;
}
/* line 939, ../lib/sass/main.scss */
main.list .part2 .category .instrument-brand ul li {
  text-transform: capitalize;
}
/* line 945, ../lib/sass/main.scss */
main.list .part2 .category .price-slider a {
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}
/* line 948, ../lib/sass/main.scss */
main.list .part2 .category .price-slider .slider-range {
  border-radius: 50px;
  background: #ccc;
}
/* line 954, ../lib/sass/main.scss */
main.list .part2 .category .price-slider .ui-slider-horizontal {
  height: 4px;
}
/* line 956, ../lib/sass/main.scss */
main.list .part2 .category .price-slider .ui-slider-horizontal .ui-slider-handle {
  top: -7px;
}
/* line 961, ../lib/sass/main.scss */
main.list .part2 .category .price-slider .ui-corner-all {
  border-radius: 50px;
  border: none;
  background: #eee;
}
/* line 967, ../lib/sass/main.scss */
main.list .part2 .category .price-slider .ui-state-default, main.list .part2 .category .price-slider .ui-widget-content .ui-state-default, main.list .part2 .category .price-slider .ui-widget-header .ui-state-default {
  background: #fff;
  border: 2px solid #666;
}
/* line 972, ../lib/sass/main.scss */
main.list .part2 .category .price-slider .ui-widget-header {
  background: #666;
}
/* line 976, ../lib/sass/main.scss */
main.list .part2 .category .price-slider .ui-slider .ui-slider-handle {
  width: 16px;
  height: 16px;
}
/* line 981, ../lib/sass/main.scss */
main.list .part2 .category .price-slider .ui-slider-handle:focus {
  outline: none;
}
/* line 985, ../lib/sass/main.scss */
main.list .part2 .category .price-slider p {
  margin-top: 15px;
}
/* line 987, ../lib/sass/main.scss */
main.list .part2 .category .price-slider p #amount {
  border: none;
}
/* line 994, ../lib/sass/main.scss */
main.list .part2 .instrument-list {
  padding-right: 0;
}
/* line 996, ../lib/sass/main.scss */
main.list .part2 .instrument-list #owl-list {
  height: 320px;
  margin-bottom: 10px;
}
/* line 999, ../lib/sass/main.scss */
main.list .part2 .instrument-list #owl-list .item {
  height: 320px;
}
/* line 1002, ../lib/sass/main.scss */
main.list .part2 .instrument-list #owl-list .item .clearfix .shop-now {
  padding-left: 50px;
  top: 50%;
  transform: translateY(-50%);
}
/* line 1011, ../lib/sass/main.scss */
main.list .part2 .instrument-list .list-container .row {
  -moz-column-width: 15em;
  -webkit-column-width: 15em;
  -moz-column-gap: .5em;
  -webkit-column-gap: .5em;
  margin-right: 1px;
  margin-left: -8px;
}
/* line 1021, ../lib/sass/main.scss */
main.list .part2 .instrument-list .list-container .panel {
  border: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  margin: .5em;
  padding: 0;
  width: 98%;
}
/* line 1031, ../lib/sass/main.scss */
main.list .part2 .instrument-list .list-container .panel img {
  width: 100%;
}
/* line 1035, ../lib/sass/main.scss */
main.list .part2 .instrument-list .list-container .panel .list-img span {
  position: absolute;
  top: 20px;
  left: 0;
}
/* line 1043, ../lib/sass/main.scss */
main.list .part2 .instrument-list .list-container .panel .clearfix .add img, main.list .part2 .instrument-list .list-container .panel .clearfix .added img {
  width: inherit;
}
/* line 1057, ../lib/sass/main.scss */
main .one-slide .item {
  margin: 0 auto;
}
/* line 1059, ../lib/sass/main.scss */
main .one-slide .item .clearfix {
  position: relative;
  margin: 0 auto;
  height: 100%;
}
/* line 1063, ../lib/sass/main.scss */
main .one-slide .item .clearfix .shop-now {
  position: absolute;
}
/* line 1065, ../lib/sass/main.scss */
main .one-slide .item .clearfix .shop-now h1, main .one-slide .item .clearfix .shop-now p {
  color: #fff;
  margin-bottom: 20px;
}
/* line 1069, ../lib/sass/main.scss */
main .one-slide .item .clearfix .shop-now h1 {
  font-family: "DejaVuSansCondensed-Bold", sans-serif;
}
/* line 1072, ../lib/sass/main.scss */
main .one-slide .item .clearfix .shop-now a {
  display: inline-block;
  background: #fff;
  color: #333;
  padding: 10px 25px;
  border-radius: 50px;
}
/* line 1085, ../lib/sass/main.scss */
main .item div {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}
/* line 1088, ../lib/sass/main.scss */
main .item div .overlay-item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.51);
  opacity: 0;
}
/* line 1096, ../lib/sass/main.scss */
main .item div .overlay-item div {
  width: 75%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 1103, ../lib/sass/main.scss */
main .item div .overlay-item div button {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px;
  width: 100%;
  border-radius: 50px;
  background: none;
  color: #fff;
  border: 2px solid #fff;
}
/* line 1113, ../lib/sass/main.scss */
main .item div .overlay-item div button:first-child {
  margin-bottom: 10px;
}
/* line 1116, ../lib/sass/main.scss */
main .item div .overlay-item div button:hover {
  background: #fff;
  color: #333;
}
/* line 1123, ../lib/sass/main.scss */
main .item div:hover {
  opacity: 1;
}
/* line 1128, ../lib/sass/main.scss */
main .item a img {
  display: block;
  width: 100%;
  height: auto;
}
/* line 1135, ../lib/sass/main.scss */
main .item h4 {
  height: 32px;
  margin: 10px 0;
}
/* line 1138, ../lib/sass/main.scss */
main .item h4 a {
  text-transform: uppercase;
  font-family: "DejaVuSansCondensed-Bold", sans-serif;
  font-size: 16px;
}
/* line 1146, ../lib/sass/main.scss */
main .item p {
  margin-bottom: 10px;
}
/* line 1150, ../lib/sass/main.scss */
main .item div span {
  float: left;
  font-size: 20px;
  font-family: "DejaVuSansCondensed", sans-serif;
}
/* line 1157, ../lib/sass/main.scss */
main .item div .added, main .item div .add {
  position: absolute;
  right: 0;
  display: none;
}
/* line 1161, ../lib/sass/main.scss */
main .item div .added img, main .item div .add img {
  width: 20px;
  height: 20px;
}
/* line 1166, ../lib/sass/main.scss */
main .item div .add {
  display: inline-block;
  height: 20px;
  cursor: pointer;
  z-index: 5;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 1173, ../lib/sass/main.scss */
main .item div .add:hover {
  transform: rotate(90deg);
  opacity: 1;
}
/* line 1184, ../lib/sass/main.scss */
main [type="checkbox"]:not(:checked),
main [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
/* line 1190, ../lib/sass/main.scss */
main [type="checkbox"]:not(:checked) + label,
main [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
/* line 1198, ../lib/sass/main.scss */
main [type="checkbox"]:not(:checked) + label:before,
main [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #aaa;
  background: none;
}
/* line 1211, ../lib/sass/main.scss */
main [type="checkbox"]:not(:checked) + label:after,
main [type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px;
  left: 2px;
  font-size: 16px;
  line-height: 0.8;
  color: #333;
  transition: all .2s;
}
/* line 1224, ../lib/sass/main.scss */
main [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
/* line 1229, ../lib/sass/main.scss */
main [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* line 1235, ../lib/sass/main.scss */
main [type="checkbox"]:disabled:not(:checked) + label:before,
main [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
/* line 1242, ../lib/sass/main.scss */
main [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
/* line 1246, ../lib/sass/main.scss */
main [type="checkbox"]:disabled + label {
  color: #aaa;
}

/* line 1252, ../lib/sass/main.scss */
footer {
  background: #333;
}
/* line 1255, ../lib/sass/main.scss */
footer .footer {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 1258, ../lib/sass/main.scss */
footer .footer .footer-logo,
footer .footer .footer-menu {
  float: left;
}
/* line 1262, ../lib/sass/main.scss */
footer .footer .footer-logo {
  width: 88px;
  margin-right: 50px;
  height: 90px;
}
/* line 1266, ../lib/sass/main.scss */
footer .footer .footer-logo img {
  width: 100%;
}
/* line 1270, ../lib/sass/main.scss */
footer .footer .footer-menu {
  display: table;
  height: 90px;
}
/* line 1273, ../lib/sass/main.scss */
footer .footer .footer-menu .vertical {
  display: table-cell;
  vertical-align: middle;
}
/* line 1276, ../lib/sass/main.scss */
footer .footer .footer-menu .vertical .nav-menu-footer {
  margin-bottom: 30px;
}
/* line 1278, ../lib/sass/main.scss */
footer .footer .footer-menu .vertical .nav-menu-footer li {
  display: inline-block;
  margin-right: 10px;
}
/* line 1281, ../lib/sass/main.scss */
footer .footer .footer-menu .vertical .nav-menu-footer li a {
  text-transform: uppercase;
  color: #999;
}
/* line 1284, ../lib/sass/main.scss */
footer .footer .footer-menu .vertical .nav-menu-footer li a:hover {
  color: #fff;
}
/* line 1291, ../lib/sass/main.scss */
footer .footer .footer-menu .vertical .pay-system li {
  display: inline-block;
  margin-right: 10px;
}
/* line 1295, ../lib/sass/main.scss */
footer .footer .footer-menu .vertical .pay-system li a img {
  height: 26px;
  opacity: 0.5;
}
/* line 1302, ../lib/sass/main.scss */
footer .footer .footer-menu .vertical .pay-system li:hover a img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
/* line 1312, ../lib/sass/main.scss */
footer .footer .social {
  float: right;
  height: 90px;
}
/* line 1315, ../lib/sass/main.scss */
footer .footer .social .clearfix {
  margin-bottom: 35px;
}
/* line 1317, ../lib/sass/main.scss */
footer .footer .social .clearfix li {
  width: 36px;
  height: 36px;
  float: left;
  margin-right: 10px;
}
/* line 1322, ../lib/sass/main.scss */
footer .footer .social .clearfix li:last-child {
  margin: 0;
}
/* line 1326, ../lib/sass/main.scss */
footer .footer .social .clearfix li a img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 1333, ../lib/sass/main.scss */
footer .footer .social .clearfix li:hover a img {
  -webkit-filter: brightness(170%);
  filter: brightness(170%);
}
/* line 1340, ../lib/sass/main.scss */
footer .footer .social p {
  text-transform: uppercase;
  text-align: right;
}
/* line 1343, ../lib/sass/main.scss */
footer .footer .social p, footer .footer .social p a {
  color: #999;
  font-size: 12px;
}
