/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'DejaVuSans';
  src: url("../lib/fonts/DejaVuSans/DejaVuSans.ttf") format("truetype");
  src: url("../lib/fonts/DejaVuSans/DejaVuSans.woff") format("woff");
  src: url("../lib/fonts/DejaVuSans/DejaVuSans.svg") format("svg");
  src: url("../lib/fonts/DejaVuSans/DejaVuSans.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DejaVuBold';
  src: url("../lib/fonts/DejaVuBold/DejaVuSansBold.ttf") format("truetype");
  src: url("../lib/fonts/DejaVuBold/DejaVuSansBold.woff") format("woff");
  src: url("../lib/fonts/DejaVuBold/DejaVuSansBold.svg") format("svg");
  src: url("../lib/fonts/DejaVuBold/DejaVuSansBold.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Condensed';
  src: url("../lib/fonts/DejaVuSansCondencsed/DejaVuSansCondensed.ttf") format("truetype");
  src: url("../lib/fonts/DejaVuSansCondencsed/DejaVuSansCondensed.woff") format("woff");
  src: url("../lib/fonts/DejaVuSansCondencsed/DejaVuSansCondensed.svg") format("svg");
  src: url("../lib/fonts/DejaVuSansCondencsed/DejaVuSansCondensed.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CondensedBold';
  src: url("../lib/fonts/DejaVuSansCondensedBold/DejaVuSansCondensedBold.ttf") format("truetype");
  src: url("../lib/fonts/DejaVuSansCondensedBold/DejaVuSansCondensedBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 90, ../lib/sass/main.scss */
body, a, a:hover {
  font-weight: 300;
  color: #333;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 96, ../lib/sass/main.scss */
body {
  font-family: 'DejaVuSans', sans-serif;
}

/* line 100, ../lib/sass/main.scss */
h1 {
  text-transform: uppercase;
}

/* line 105, ../lib/sass/main.scss */
header.navbar-fixed-top {
  z-index: 50;
}
/* line 108, ../lib/sass/main.scss */
header .navbar {
  margin: 0;
}
/* line 110, ../lib/sass/main.scss */
header .navbar.navbar-default {
  background-color: #fff;
  border: none;
}
/* line 114, ../lib/sass/main.scss */
header .navbar .container-fluid {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
/* line 119, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header {
  width: 100%;
  padding: 0 60px;
}
/* line 123, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .navbar-brand > img {
  width: 105px;
}
/* line 127, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav {
  float: right;
}
/* line 129, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav li {
  text-transform: uppercase;
  font-family: 'CondensedBold', sans-serif;
  cursor: pointer;
}
/* line 133, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav li a {
  color: #333;
  font-weight: 900;
  font-size: 13px;
}
/* line 137, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav li a:hover {
  color: #999;
}
/* line 142, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav .active > a {
  background: none;
}
/* line 146, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav-menu {
  float: right;
}
/* line 148, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav-menu li {
  float: left;
}
/* line 152, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav-menu li {
  border-right: 1px solid #eee;
}
/* line 155, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav-menu li a {
  display: inline-block;
  padding: 13px 20px;
}
/* line 159, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav-menu li a img {
  width: 25px;
}
/* line 163, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav-menu li:last-child {
  background: #333;
  border: none;
}
/* line 166, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav-menu li:last-child a {
  color: #fff;
  text-align: center;
  width: 66px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}
/* line 174, ../lib/sass/main.scss */
header .navbar .container-fluid .navbar-header .nav-menu li:last-child a:hover {
  text-decoration: none;
}
/* line 185, ../lib/sass/main.scss */
header .tab-content {
  position: relative;
}
/* line 187, ../lib/sass/main.scss */
header .tab-content .drop-menu {
  position: absolute;
  z-index: 53;
  text-align: center;
  width: 100%;
  background: #eee;
}
/* line 193, ../lib/sass/main.scss */
header .tab-content .drop-menu li {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  width: 146px;
  height: 160px;
  padding: 30px;
}
/* line 199, ../lib/sass/main.scss */
header .tab-content .drop-menu li:hover {
  background: #333;
}
/* line 201, ../lib/sass/main.scss */
header .tab-content .drop-menu li:hover a {
  color: #eee;
}
/* line 203, ../lib/sass/main.scss */
header .tab-content .drop-menu li:hover a img {
  -webkit-filter: brightness(465%);
  /* Chrome, Safari, Opera */
  filter: brightness(465%);
}
/* line 209, ../lib/sass/main.scss */
header .tab-content .drop-menu li a {
  width: 100%;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  text-decoration: none;
}
/* line 215, ../lib/sass/main.scss */
header .tab-content .drop-menu li a img {
  width: 50px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 220, ../lib/sass/main.scss */
header .tab-content .drop-menu li a span {
  font-size: 12px;
  display: block;
  margin-top: 10px;
}
/* line 227, ../lib/sass/main.scss */
header .tab-content .drop-menu:before {
  content: '';
  position: absolute;
  top: -12px;
  z-index: 51;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid #eee;
}
/* line 239, ../lib/sass/main.scss */
header .tab-content #menu1.drop-menu:before {
  left: 885px;
}
/* line 242, ../lib/sass/main.scss */
header .tab-content #menu2.drop-menu:before {
  right: 815px;
}
/* line 245, ../lib/sass/main.scss */
header .tab-content #menu3.drop-menu:before {
  right: 685px;
}
/* line 251, ../lib/sass/main.scss */
header .log-sub {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}
/* line 255, ../lib/sass/main.scss */
header .log-sub .login {
  right: 15px;
  text-align: center;
  width: 300px;
  background: #fff;
  padding: 30px 0;
  position: absolute;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #eee;
}
/* line 265, ../lib/sass/main.scss */
header .log-sub .login:before, header .log-sub .login:after {
  content: '';
  position: absolute;
  z-index: 51;
  right: 140px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
/* line 275, ../lib/sass/main.scss */
header .log-sub .login:before {
  top: -13px;
  border-bottom: 12px solid #eee;
}
/* line 279, ../lib/sass/main.scss */
header .log-sub .login:after {
  top: -12px;
  border-bottom: 12px solid #fff;
}
/* line 284, ../lib/sass/main.scss */
header .log-sub .login h1 {
  font-size: 36px;
  font-family: 'Condensed', sans-serif;
}
/* line 289, ../lib/sass/main.scss */
header .log-sub .login input {
  width: 270px;
  padding: 10px 15px;
  display: block;
  margin: 10px auto;
  border: 1px solid #eee;
  outline: none;
  color: #999;
}
/* line 297, ../lib/sass/main.scss */
header .log-sub .login input:focus {
  border: 1px solid #999;
}
/* line 301, ../lib/sass/main.scss */
header .log-sub .login input[type='submit'] {
  width: 154px;
  margin: 10px auto;
  background: #333;
  color: #fff;
  border-radius: 50px;
  font-family: 'Condensed', sans-serif;
}
/* line 310, ../lib/sass/main.scss */
header .log-sub .login a {
  font-family: 'DejaVuBold', sans-serif;
  font-size: 14px;
  margin: 10px 0;
  font-weight: 700;
}

/* line 322, ../lib/sass/main.scss */
main .black-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.81);
}
